/* Layout Containers */
.site {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transform: translateY(-10%);
}


/* Typography */
.site h1 {
    margin-bottom: 10px;
}

.site p {
    margin: 10px;
}

strong {
    color: #ffcc01;
}


/* Buttons */
button {
    margin-top: 20px;
}