/* Layout Containers */
.site {
    width: 100%;
    max-width: 500px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Typography */
.site h1 {
    margin-bottom: 20px;
    text-align: left;
}

.dont {
    margin-top: 30px;
}
.dont a {
    margin-left: 10px;
}


/* Form Fields */
.form-field,
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.forgot {
    color: #dbdbdb;
    font-size: 0.95rem;
    margin-top: -10px;
    align-items: flex-start;
    align-self: flex-end;
}