/* Layout Containers */
.site {
    width: 100%;
    max-width: 800px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    gap: 15px;
}


/* Typography */
.site h1 {
    margin-bottom: 20px;
    text-align: left;
}

.already {
    margin-top: 30px;
}
.already a {
    margin-left: 10px;
}


/* Form Fields */
.form-field,
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Recaptcha */
.g-recaptcha {
    margin: 5px 0;
}


/* Password Checklist */
.password-checklist {
    list-style: none;
    padding-left: 0;
    font-size: 0.85;
    margin: 4px 0 0 0;
    font-size: 0.9rem;
    margin-top: 4px;
    min-height: 1em;
    text-align: left;
}

.password-checklist li {
    color: red;
}